.todo-element {

    display: flex;
    flex-direction: row;
    padding: 0.6rem 1rem;
    gap: 10px;
    border-bottom: 1px solid rgba(95, 95, 95, 0.2);

}

.todo-element input {

    background-color: transparent;
    color: black;
    width: 100%;
    border: none;
    outline: none;

}

.todo-element-cancel, .todo-element-update, .todo-element-delete, .todo-element-done {
    height: 1.2rem;
    width: 1.2rem;
    font-weight: bold;
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.todo-element-cancel:hover, .todo-element-update:hover, .todo-element-delete:hover, .todo-element-done:hover {

    scale: 1.1;

}